<main class="user-edit">
  <section>
    <div class="user-edit-contents">
      <h1 class="form-title">アカウント情報編集</h1>

      <%= form_with model: @account, url: update_account_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", model: f.object %>
        <div class="new-content">
          <%= f.label :nickname,'ユーザー名' %>
          <%= f.text_field :nickname, class:"small-field", placeholder:"例）スズキ", maxlength:"40", autofocus: true  %>
        </div>
        <div class="new-content">
          <%= f.label :account_id,'ユーザーID' %>
          <%= f.text_field :account_id, class:"small-field", placeholder:"例）suzuki1234", maxlength:"40", autofocus: true  %>
        </div>
        <div class="new-content">
          <%= f.label :birthday,'生年月日' %>
          <%= f.date_select(:birthday,
              class:'input-birth-wrap', 
              id:"birthday",
              use_month_numbers: true,
              prompt:'--',
              start_year: 1950,
              end_year: (Time.now.year - 5),
              date_separator: '/') %>        
        </div>
        <div class="new-content">
          <%= f.label :introduction,'自己紹介' %>
          <%= f.text_area :introduction, class:"small-field intro", placeholder:"250文字以内", maxlength:"250", autofocus: true  %>
        </div>
        <div class="new-content">
          <%= f.label :image,'プロフィール画像' %>
          <%= f.file_field :image, id:"posts-image" %>
        </div>
        <div class="img-field" id="image-list">
          <div id="image-list"></div>
        </div>
        <%= f.submit "次へ" ,class:"send" %>
      <%end%>
    </div>
  </section>
  <%= render 'shared/footer' %>
</main>
