<main class="registrations-new">
  <h1 class="new-title">wanday!へようこそ！</h1>

  <section>
    <div class="new-contents">
      <h2 class="form-title">アカウント作成</h2>

      <%= form_with model: @account, url: account_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", model: f.object %>
      <%= flash[:recaptcha_error] %>

      <div class="new-content">
        <%= f.label :nickname,'ユーザー名' %>
        <%= f.text_field :nickname, class:"small-field", id:"nickname", placeholder:"例）すずき", maxlength:"40", autofocus: true  %>
      </div>
      <div class="new-content">
        <%= f.label :account_id,'ユーザーID' %>
        <%= f.text_field :account_id, class:"small-field", id:"account_id", placeholder:"例）suzuki123", maxlength:"40"%>
      
      </div>
      <div class="new-content">
        <%= f.label :birthday,'生年月日' %>
        <%= f.date_select(:birthday,
            class:'input-birth-wrap', 
            id:"birthday",
            use_month_numbers: true,
            prompt:'--',
            start_year: 1950,
            end_year: (Time.now.year - 5),
            date_separator: '/') %>
      </div>
      <%= recaptcha_tags %>
      <%= f.submit "登録する" ,class:"send" %>
      <%end%>
    </div>
  </section>
  <section>
    <footer>
      <p class="footer-title">wanday!</p>
      <p class="footer-text">Copyright © 2021 wanday! All rights reserved.</p>
    </footer>
  </section>
</main>