<%= render 'shared/header' %>
<main class="index-main-contents">
  <section class="main-left">
    <h1 class="item-review-title">Shop Review</h1>
    
    <div class="shop-contents-link">
      <%= link_to "お店情報登録", new_shop_path, class: "item-register-buttton" %>
      <%= link_to "お店を検索する", search_shops_path, class: "item-register-buttton" %>
    </div> 

    <%# レビュー一覧 %>
    <ul class="item-lists">
      <% @shops.each do |shop|%>
        <%= link_to shop_path(shop) do %>
          <li class="item-list">
            <%= image_tag shop.images[0].variant(gravity: :center, resize:"90x110^",crop:"90x110+0+0").processed  %>
            <div class="item-list__contents">
              <div class="item-list__title"><%= shop.name %></div>
                <div class="item-list__date"><p><%= shop.updated_at.to_s(:datetime) %></p></div>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>

  <%# ユーザー情報 %>
  <%= render partial: 'shared/userpro', locals: { pet: @pet } %>
</main>
<%= render 'shared/footer' %>