<main class="posts-index">
  <%= render 'shared/header' %>
  <section class="index-main-contents">
    <section class="main-left">
      <h1 class="item-review-title">Shop Review</h1>
      
      <%= link_to "お店情報登録", new_shop_path, class: "item-register-buttton" %>

      <%# レビュー一覧 %>
      <ul class="item-lists">
        <% @shops.each do |shop|%>
          <%= link_to shop_path(shop) do %>
            <li class="item-list">
              <div class="item-image">
                <%= image_tag shop.images[0] %>
              </div>
              <div class="item-contents">
                <div class="item-title"><%= shop.name %></div>
                <div class="item-evaluation">
                  <div class="star-icon">
                    <i class="fas fa-star s-color"></i>
                    <i class="fas fa-star s-color"></i>
                    <i class="fas fa-star s-color"></i>
                    <i class="fas fa-star-half-alt s-color"></i>
                    <i class="far fa-star s-color"></i>
                  </div>
                  <div class="item-date"><p>レビュー12件</p><p><%= shop.updated_at.to_s(:datetime) %></p></div>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>

    <%# ユーザー情報 %>
    <%= render 'shared/userpro'%>
  </section>
  <%= render 'shared/footer' %>
</main>