<div class="mypage-contents">
  <%= render 'shared/header' %>
  <%= render partial: 'user_detail', locals: { user: @user } %>

  <%# フォロー中一覧 %>
  <section>
    <div class="follow-main">
      <h1 class="follow-title">フォロー中</h1>
        <ul>
          <% @following_users.each do |following_user| %>
            <li class="follow-list">
              <%= link_to image_tag(following_user.account.images[0] ,class: "follow-user-icon"), home_path(following_user) if following_user.account.images.attached?%>
              <% if following_user.account.images.length == 0%>
                <%= link_to image_tag("profile-user.png" ,class: "follow-user-icon"), home_path(following_user)  %>
              <% end %>
              <div class="follow-account-detail">
                <%= link_to home_path(following_user) do%>
                  <p class="follow-nickname"><%= following_user.account.nickname %></p>
                  <p class="follow-id"><%= following_user.account.account_id %></p>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
    </div>
  </section>
  <%= render 'shared/footer' %>
</div>