<main class="registrations-top">
  <section class="left-contents">
    <%= image_tag 'registrations-top.jpg', class:'registrations-image' %>  
  </section>
  <section class="right-contents">
    <div class="right-title">
      <p>wanday!へようこそ！</p>
    </div>
    <div class="right-sub-title">
      <p>アカウント作成</p>
    </div>
    <div class="registrations-button">
      <%= link_to "メールアドレスで登録", new_user_registration_path, class: "email-button" %>
      <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do%>
        <p class="google-button"><i class="fab fa-google regist-icon"></i>Googleアカウントで登録</p>
      <% end %>
      <%= link_to user_facebook_omniauth_authorize_path, method: :post do%>
        <p class="facebook-button"><i class="fab fa-facebook-square regist-icon"></i>Facebookアカウントで登録</p>
      <% end %>
    </div>
    <div class="right-text">
      <p><%= link_to "ログイン", new_user_session_path, class: "login-text" %>のかたはこちら</p>
    </div>
    <%= render 'shared/footer' %>
  </section>
</main>

