<main class="registrations-top">
  <section class="left-contents">
    <%= image_tag 'registrations-top.jpg', class:'registrations-image' %>  
  </section>
  <section class="right-contents">
    <div class="right-title">
      <p>wanday!へようこそ！</p>
    </div>
    <div class="right-sub-title">
      <p>アカウント作成</p>
    </div>
    <div class="registrations-button">
      <%= link_to "メールアドレスで登録", new_user_registration_path, class: "email-button" %>
      <%= link_to "Googleアカウントで登録", "#", class: "google-button" %>
      <%= link_to "Facebookアカウントで登録", "#", class: "facebook-button" %>
    </div>
    <div class="right-text">
      <p><%= link_to "ログイン", new_user_session_path, class: "login-text" %>のかたはこちら</p>
      <p><%= link_to '（仮）実装挙動確認ログアウトボタン', destroy_user_session_path, method: :delete %></p>

    </div>
    <footer>
      <p class="footer-title">wanday!</p>
      <p class="footer-text">Copyright © 2021 wanday! All rights reserved.</p>
    </footer>
  </section>
</main>

