<main class="mypage">
  <%= render 'shared/show_header' %>
  <section>
    <div class="mypage-contents">
    <%= render partial: 'user_detail', locals: { user: @user } %>

      <%# いいね・一覧画面切り替え %>
      <div class="mypage-icon-lists">
        <ul class="mypage-icon-list">
          <%= link_to home_path(@user) do %>
            <li class="icon-select"><i class="far fa-image fa-2x"></i><p class="unchoice-icon">投稿一覧</p></li>
          <% end %>
          <%= link_to home_likes_path(@user) do %>
            <li class="icon-select"><i class="far fa-heart fa-2x"></i><p class="unchoice-icon">いいね一覧</p></li>
          <%end%>
        </ul>
      </div>

      <%# ペットプロフィール %>
      <div class="profile-middle">
        <%= image_tag @pet.image, class: "profile-img" if @pet.image.attached?%>
        <div class="profile-main">
          <p class="profile-name"><%= @pet.name%></p>
            <dl class="profile-lists">
              <dt>誕生日</dt>
              <dd><%= @pet.birthday%><dd>
              <dt>種類</dt>
              <dd><%= @pet.dog_breed%><dd>
              <dt>好きなもの</dt>
              <dd><%= @pet.favorite%><dd>
              <dt>性格</dt>
              <dd><%= @pet.character%><dd>
            </dl>
        </div>
      </div>
    </div>
  </section>
  <%= render 'shared/footer' %>
</main>
