<% console%>
<main class="mypage">
  <header class='top-page-header1'>
    <p class="header-title1">wanday!</p>
    <nav>
    <%= link_to posts_path do %>
      <i class="fas fa-home fa-lg user-icon"></i>
    <% end %>
    <%= link_to search_posts_path do %>
      <i class="fas fa-search fa-lg user-icon"></i>
    <% end %>
    <%# <i class="far fa-envelope fa-lg user-icon"></i> %>
    <%# <i class="far fa-bell fa-lg user-icon"></i> %>
    <%= link_to items_path do %>
      <i class="fas fa-gifts fa-lg user-icon"></i>
    <% end %>
    <%= link_to shops_path do %>
      <i class="fas fa-store fa-lg user-icon"></i>
    <% end %>
    <%= link_to calendars_path do %>
      <i class="far fa-calendar-alt user-icon fa-lg "></i>
    <% end %>
    <%= link_to new_post_path do %>
      <i class="far fa-images fa-lg user-icon"></i>
    <% end %>
    <%= link_to home_following_path(current_user) do %>
      <i class="far fa-envelope fa-lg user-icon"></i>
    <% end %>
      <%= image_tag current_user.account.images[0], class: "header-user-icon", id: "edit-lists" if current_user.account.images.attached?%>
      <% if current_user.account.images.length == 0%>
        <%= image_tag "profile-user.png" ,class:"header-user-icon" ,id: "edit-lists" %>
      <% end %>
      <ul class="edit-lists hidden" id="edit-pull-down">
        <li class="pull-down-edit-list"><%= link_to "ユーザー情報編集", edit_user_registration_path(@user) %></li>
        <li class="pull-down-edit-list"><%= link_to "ペット情報登録", home_profile_new_path(@account)%></li>
        <li class="pull-down-edit-list"><%= link_to "ペット情報編集", home_profile_edit_path(@account) %></li>
        <li class="pull-down-edit-list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete%></li>
      </ul>
    </nav>
  </header>

  <section>
    <div class="mypage-contents">
    <%= render partial: 'user_detail', locals: { user: @user } %>

      <%# いいね・一覧画面切り替え %>
      <div class="mypage-icon-lists">
        <ul class="mypage-icon-list">
          <li class="icon-select"><i class="fas fa-image fa-2x choice-icon"></i><p class="choice-icon-info">投稿一覧</p></li>
          <%= link_to home_likes_path(@user) do %>
            <li class="icon-select"><i class="far fa-heart fa-2x"></i><p class="unchoice-icon">いいね一覧</p></li>
          <%end%>
        </ul>
      </div>

      <%# 画像一覧 %>
      <div class="mypage-middle">
        <ul class="img-lists">
          <% @user.posts.each do |post|%>
            <li>
              <%= link_to post_path(post) do %>
                <%= image_tag post.images[0], class: "mypage-img" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
  <%= render 'shared/footer' %>
</main>
