<main class="mypage">
  <%= render 'shared/show_header' %>
  <section>
    <div class="mypage-contents">
    <%= render partial: 'user_detail', locals: { user: @user } %>

      <%# いいね・一覧画面切り替え %>
      <div class="mypage-icon-lists">
        <ul class="mypage-icon-list">
          <li class="icon-select"><i class="fas fa-image fa-2x choice-icon"></i><p class="choice-icon-info">投稿一覧</p></li>
          <%= link_to home_likes_path(@user) do %>
            <li class="icon-select"><i class="far fa-heart fa-2x"></i><p class="unchoice-icon">いいね一覧</p></li>
          <%end%>
        </ul>
      </div>

      <%# 画像一覧 %>
      <div class="mypage-middle">
        <ul class="img-lists">
          <% @user.posts.each do |post|%>
            <% post.images.each do |image|%>
              <li>
                <%= link_to post_path(post) do %>
                  <%= image_tag image, class: "mypage-img" %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
  <%= render 'shared/footer' %>
</main>
