<main class="toppage">
  <%= render 'shared/header' %>
  <section class="index-main-contents">
    <section class="main-left">
    <h1 class="item-review-title">Event</h1>

    <%# 予定詳細情報表示部分 %>
    <div class="event-info">
      <p>イベント詳細</p>
      <dl>
        <dt>タイトル</dt>
        <dd><%=@calendar.event %></dd>
        <dt>メモ</dt>
        <dd><%=@calendar.text %></dd>
        <dt>日程</dt>
        <dd><%= @calendar.start_time.strftime("%m/%d") %></dd>
      </dl>
    </div>
    <%= link_to "カレンダーに戻る", calendars_path,class:"calender-regist-button"%>


    <%# 予定編集フォーム %>
    <div class="event-form">
    <p>予定を編集</p>
      <%= form_with(model: @calendar, local: true) do |f| %>
      <%= render "devise/shared/error_messages", model: f.object %>

        <div class="title">
          <div class="calender-form-tag">タイトル</div>
          <%= f.text_field :event , class:"calender-field", placeholder:"タイトル"%>
        </div>


        <div class="content">
          <div class="calender-form-tag">メモ</div>
          <%= f.text_area :text, class:"calender-field", placeholder:"詳細" %>
        </div>

          <div class="time">
          <div class="calender-form-tag">日程</div>
          <%= f.datetime_field :start_time,class:"calender-field" %>
        </div>

      <div class="submit">
          <%= f.submit "更新する",class:"calender-regist-button"%>
      </div>
      <% end %>
    </div>


  </section>
   <%# ユーザー情報 %>
    <%= render 'shared/userpro'%>
</section>
  <%= render 'shared/footer' %>
</main>