<%= render 'shared/header' %>
<main class="index-main-contents">
  <section class="main-left">
    <h1 class="item-review-title">Item Review</h1>
    
    <div class="shop-contents-link">
      <%= link_to "商品情報登録", new_item_path, class: "item-register-buttton" %>
      <%= link_to "商品を検索する", search_items_path, class: "item-register-buttton" %>
    </div> 

    <%# レビュー一覧 %>
    <ul class="item-lists">
      <% @items.each do |item|%>
        <%= link_to item_path(item) do %>
          <li class="item-list">
            <%= image_tag item.images[0].variant(gravity: :center, resize:"90x110^",crop:"90x110+0+0").processed %>
            <div class="item-list__contents">
              <div class="item-list__title"><%= item.name %></div>
                <div class="item-list__date"><p><%= item.updated_at.to_s(:datetime) %></p></div>
              </div>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>

  <%# ユーザー情報 %>
  <%= render partial: 'shared/userpro', locals: { pet: @pet } %>
</main>
<%= render 'shared/footer' %>