<main class="posts-new">
  <%= render 'shared/header' %>
  <section>
    <div class="posts-new-contents">
      <h1 class="form-title">写真を投稿する</h1>

      <%= form_with local: true do |f| %>
      <%# render "devise/shared/error_messages", model: f.object %>
      <div class="img-field" id="image-list">

        <div id="image-list"></div>
            <%# image_tag image, class: 'new-images' %>

      <label class="form-image">
        <i class="fas fa-images fa-2x "></i>
        <%= f.file_field :images, id:"posts-image" ,name: 'post[images][]' ,class: "hidden"%>
      </label>

      </div>
      <p class="img-explanation">
        クリックして商品写真をアップロード
      </p>
        <div class="item-new-content">
          <%= f.text_field :title, class:"item-field", id:"title", placeholder:"商品名", maxlength:"250" %>
        </div>
        <div class="item-new-content">
          <%= f.text_area :comment, class:"item-field", id:"comment", placeholder:"商品概要(発売日、メーカー、サイズ、材質、量、原材料、原産国など)", maxlength:"250" %>
        </div>
        <%= f.submit "商品を登録する" ,class:"posts-new-send" %>
      <%end%>
    </div>
  </section>
  <%= render 'shared/footer' %>
</main>
