<main class="posts-index">
  <%= render 'shared/header' %>
  <section class="index-main-contents">
    <%# 投稿一覧 %>
    <section class="main-left">
      <%= render partial: 'post-list', locals: { post: @posts }  %> 
      <%= paginate @posts %>
    </section>

    <%# ユーザー情報 %>
    <%= render partial: 'shared/userpro', locals: { pet: @pet } %>
  </section>
  <%= render 'shared/footer' %>
</main>