<main class="posts-index">
  <%= render 'shared/header' %>
  <section class="index-main-contents">
    <%# 投稿一覧 %>
    <section class="main-left">
      <ul class="follow-posts">
        <% @posts.each do |post|%>
          <li class="follow-post">
            <div class="post-title">
              <%= link_to image_tag(post.account.images[0], class: "title-icon"), home_path(post.id)%>
              <div class="title-content">
                <p class="title-content-nickname"><%= post.account.nickname %></p>
                <p class="title-content-id"><%= post.account.account_id %></p>
              </div>
            </div>
            <div class="post-pic">
              <%= image_tag post.images[0] ,class: "post-pic"%>
            </div>
              <dl class="post-icon-lists">
                <dt><i class="far fa-comment fa-lg"></i></dt>
                <dd>コメント3件<dd>
                <dt><i class="far fa-heart fa-lg"></i></dt>
                <dd>いいね3件<dd>
              </dl>
            <div class="post-caption">
              <p><%= post.caption %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </section>

    <%# ユーザー情報 %>
    <%= render 'shared/userpro'%>
  </section>
  <%= render 'shared/footer' %>
</main>