<main class="posts-index">
  <%= render 'shared/header' %>
  <section class="index-main-contents">
    <%# 投稿一覧 %>
    <section class="main-left">
      <h1 class="item-review-title">Search</h1>
      <%= search_form_for @q, url: search_posts_path do |f| %>
        <div class="search-field">
          <%= f.label :caption, 'キーワード' %>
          <%= f.text_field :caption, placeholder: 'キーワード検索', class:"search-small-field", value: params[:q]&.dig(:caption)%>
        </div>
        <div class="search-field">
          <%= f.label :account_nickname_cont, 'ユーザー名' %>
          <%= f.text_field :account_nickname_or_tags_name_cont, placeholder: 'ユーザー検索', class:"search-small-field" %>
        </div>       
        <div class="search-field">
          <%= f.submit '検索', class:"search-button" %>
        </div>
      <% end %>

      <h2 class="item-review-title">話題の投稿</h2>
      <div class="post-rank swiper mySwiper">
        <div class="swiper-wrapper">
          <% @post_ranks.each do |rank|%>
            <%= link_to image_tag(rank.images[0].variant(gravity: :center, resize:"400x300^",crop:"400x300+0+0").processed , class: "rank-pic", alt: "話題の投稿"), post_path(rank), class: "swiper-slide"%>
          <% end %>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <ul class="follow-posts">   
        <% @posts.includes(:account).each do |post|%>
          <li class="follow-post">
            <div class="post-title">
              <%= link_to image_tag(post.account.images[0], class: "title-icon"), home_path(post.user_id) if post.account.images.attached?%>
              <% if post.account.images.length == 0%>
                <%= link_to image_tag('profile-user.png', class: "title-icon"), home_path(post.user_id) %>
              <% end %>
              <div class="title-content">
                <p class="title-content__nickname"><%= post.account.nickname %></p>
                <p class="title-content__id"><%= post.account.account_id %></p>
              </div>
            </div>
            <div class="post-pic">
              <%= link_to image_tag(post.images[0].variant(gravity: :center, resize:"800x500^",crop:"800x500+0+0").processed  ,class: "post-pic"), post_path(post)%>
            </div>
              <dl class="post-icon-lists">
                <dt><i class="far fa-comment fa-lg"></i></dt>
                <dd>コメント<%= post.comments.count %>件<dd>
                <dt><i class="far fa-heart fa-lg"></i></dt> 
                <dd>いいね<%= post.likes.count %>件<dd>
              </dl>
            <div class="post-caption">
              <p><%= post.caption %></p>
            </div>
          </li>
        <% end %>
      </ul>
     
      <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
      <script>
        let mySwiper = new Swiper ('.swiper', {
          autoplay: {
            delay: 4000, 
          },
          loop: true,  //ループ可能（ループモードを有効に）
          slidesPerView:2,  //スライドを2つ（分）表示
          centeredSlides : true,  //アクティブなスライドを中央に表示
          effect: 'coverflow',  //スライドのエフェクトを coverflow に
          pagination: {  //ページネーションを表示
            el: '.swiper-pagination',
            clickable: true,  //アイコンをクリックすると対応するスライドに移動
          },
          navigation: {  //ナビゲーションボタンを表示
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        });
      </script>
    </section>

    <%# ユーザー情報 %>
    <%= render partial: 'shared/userpro', locals: { pet: @pet } %>
  </section>
  <%= render 'shared/footer' %>
</main>