<main class="show-new">
  <%= render 'shared/header' %>
  <section>
    <div class="show-contents">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <i class="fas fa-edit" id="lists"></i>
        <ul class="show-lists hidden" id="pull-down">
          <li><%= link_to '編集する', edit_post_path(@post), method: :get,class: "pull-down-list" %></li>
          <li><%= link_to '削除する', post_path(@post), method: :delete,class: "pull-down-list" %></li>
        </ul>
      <% end %>

      <div class="show-img-field">
        <% @post.images.each do |image| %>
          <%= image_tag image, class: 'show-img' %>
        <% end %>
      </div>
      <div class="show-data">
        <%=link_to "#{@account.nickname}/#{@account.account_id}", home_path%>
        <%= @post.updated_at.to_s(:datetime) %>
      </div>
      <div class="show-caption-field">
        <p><%= @post.caption %></p>
      </div>
      <div class="show-caption-field">
        <% @post.tags.each do |tag| %>
          <%= "#" + tag&.name %>
        <% end %>
      </div>


      <div class="show-sub-contents">
        <%# いいね機能練習 %>
        <div class='show-sub-content' id='post_<%= @post.id %>'>
          <% if current_user.liked?(@post.id) %>
            <%= link_to post_like_path(@post), method: :delete, remote: true do %>
              <i class="fas fa-heart fas-color"></i>
            <% end %>
          <% else %>
            <%= link_to post_likes_path(@post), method: :post, remote: true do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
          <p>いいね<span class="good-count"><%= @post.likes.count %></span>件</p>
        </div>
        
        <div class="show-sub-content">
          <i class="far fa-comment"></i>
          <p>コメント<%= @post.comments.count %>件</p>
        </div>
      </div>


      <%# コメント一覧 %>
      <div class="comment-box" id="comment-box">
        <div id="comments">
          <% @post.comments.each do |comment| %>
            <div class="comment">
              <%=link_to "#{comment.account.nickname}", home_path(comment.account), class:"user-info" %>
              <p><%= comment.comment%></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="comment-field">
        <% if user_signed_in? %>
          <%= form_with model: [@post, @comment], id: "comment_form" do |f| %>
            <%= f.text_area :comment , class: "comment-text"%>
          <%= f.submit "コメントする", type: 'submit', class: "comment-btn"%>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
  <%= render 'shared/footer' %>
</main>
